<?xml version='1.0' encoding='utf-8'?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
xmlns:gap   = "http://phonegap.com/ns/1.0"
id          = "net.azurewebsites.vinder"
versionCode = "10"
version     = "1.1.3"
xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Vinder</name>
    <description>
        Team HackAttack's mobile app for the Cox Automotive 2016 Hackathon
    </description>
    <author email="kevin.heidt@homenetauto.com" href="http://vinder.azurewebsites.net">
        Kevin Heidt
    </author>
	<!--<feature name="debug-server" required="true">
		<param name="domain" value="http://10.224.214.106:8080"/>
		<param name="key" value="hereIsAThingICanDo"/>
	</feature>-->
    <!--<icon src="res/VinderIcon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/VinderIcon.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/VinderIcon.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/VinderIcon.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/VinderIcon.png" />-->
	<plugin name="org.apache.cordova.device" spec="0.3.0" source="pgb" />
	<plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
    <access origin="*" />
	<gap:config-file platform="android" parent="/manifest">
		<application android:debuggable="true" />
	</gap:config-file>
</widget>
